<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>usuarioControlador</servlet-name>
        <servlet-class>Productos.Controlador.usuarioControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vistasControlador</servlet-name>
        <servlet-class>Productos.Controlador.vistasControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>usuarioControlador</servlet-name>
        <url-pattern>/usuarioControlador</url-pattern>
        <url-pattern>/Api/listarusuarios</url-pattern>
        <url-pattern>/listarusuarios</url-pattern>
        <url-pattern>/eliminarusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vistasControlador</servlet-name>
        <url-pattern>/vistasControlador</url-pattern>
        <url-pattern>/Administrador</url-pattern>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
